In [1]:
import pandas as pd
from pathlib import Path

In [2]:
csvpath = Path("budget_data.csv")

In [4]:
budget_df = pd.read_csv(csvpath)
budget_df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [5]:
budget_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [6]:
budget_df.count()

Date             86
Profit/Losses    86
dtype: int64

In [8]:
budget_df["Date"].value_counts()

Jan-2010    1
Jul-2014    1
Mar-2015    1
Feb-2015    1
Jan-2015    1
           ..
Apr-2012    1
Mar-2012    1
Feb-2012    1
Jan-2012    1
Feb-2017    1
Name: Date, Length: 86, dtype: int64

In [9]:
budget_df.isnull()

     Date  Profit/Losses
0   False          False
1   False          False
2   False          False
3   False          False
4   False          False
..    ...            ...
81  False          False
82  False          False
83  False          False
84  False          False
85  False          False

[86 rows x 2 columns]

In [ ]:
|